# File del solver e log
*.mps
*.log
!highs_bug_report/*.mps

# Python cache e virtual environment
__pycache__/
*.py[cod]
.venv/
venv/
env/

#Demo
instances_demo/
results/demo_*.csv
results/figures_demo_*/



