# File del solver e log
*.mps
*.log

# Python cache e virtual environment
__pycache__/
*.py[cod]
.venv/
venv/
env/

#Demo
instances_demo/
results/demo_*.csv
results/figures_demo_*/

#Temporaneo
instances/
instances_pilot/
results/results.csv
results/pilot.csv
results/figures_results/
